@use "sass:map" as map;
@use "sass:list" as list;

$baseSize: 28px;

.loader {
  display: block;

  &--base {
    height: $baseSize;
    width: $baseSize;
    animation: 1.4s linear 0s infinite normal none running rotate;

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &--ios {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__base-root {
    fill: transparent;
    overflow: visible;
    display: block;
    width: 100%;
    height: 100%;
    animation: 1.4s ease-in-out 0s infinite normal none running base-animation;
    stroke-width: $baseSize * 0.09;

    @keyframes base-animation {
      $settings: (
        "0%": [#{1, $baseSize * 5}, 0],
        "50%": [#{$baseSize * 2.5, $baseSize * 5}, $baseSize * -0.375],
        "100%": [#{$baseSize * 2.5, $baseSize * 5}, $baseSize * -3.125],
      );

      @each $percentage in ["0%", "50%", "100%"] {
        $stroke-settings: map.get($settings, $percentage);

        #{$percentage} {
          stroke: {
            dasharray: list.nth($stroke-settings, 1);
            dashoffset: list.nth($stroke-settings, 2);
          }
        }
      }
    }
  }

  &__ios-line {
    position: absolute;
    background-color: currentColor;
    border-radius: 1000px;
    transform-origin: center;
    animation: ios-line-animation 800ms linear infinite;
    opacity: .1;
    width: 3px;
    height: 8px;

    @keyframes ios-line-animation {
      0% {
        opacity: 1
      }
      44% {
        opacity: 1;
      }
      100% {
        opacity: .1
      }
    }
  }
}
