.app-loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: var(--tg-theme-bg-color);

  &__image {
    display: block;
    margin-bottom: 20px;
  }
}